
<div class="dashboardbanner">
  <div class="container-text">
      <h1 class="">Affordable design, data and technology advisory for start-ups and SMEs</h1>
  </div>
</div>

<div class="company-statement">
  <div class="about">
  <h2 class="main-subtitle"> About Invent@</h2>
      <br>
      <p class="main-text">At Invent@ we are passionate about entrepreneurs and small business and understand the positive impact these nascent business bring to the economy and society as a whole.</p>
      <br>
      <p class="main-text">However many of these businesses can't afford the same kind of advisory services bigger competitors have access to.</p>
      <br>

      <p class="main-text">We are all about democratizing business consulting for new ventures.</p>
  </div>

  <div class="about">
    <ul id="questions">
      <li class="main-text">Have you got a business idea but dont know where to start?</li>
      <li class="main-text">Have you got an opportunity to pitch your idea but need help making a robust business case?</li>
       <li class="main-text">Are you looking to put together a strong pitch for investors?</li>
      <li class="main-text">Do you need help designing your digital product or service proposition?</li>
      <li class="main-text">Are you looking for an economical way to prototype your digital product or service?</li>
      <li class="main-text" >Is your business growing and you need help ensuring stable operations that sustain scalability?</li>
    </ul>
  </div>

  <div class="contact about">
  <h2 class="main-subtitle"> Contact us </h2>
  <br>
  <p class="main-text">If you identify with any of the questions above feel free to contact us for a non-committal conversation. </p>
  <p class="main-text">
    We will be happy to explore options to help your business!
  </p>
  <br>
  <br>
  <div id="button-contact">
  <%= link_to 'Get in touch!', new_contact_path, { :class => "button-primary button-contact nav-link", 'data-toggle' => 'modal', 'data-target' => '#contact-modal'} %>
  </div>
</div>

  <div class="about">
    <br>
    <h2 class="main-subtitle"> Our services</h2>
    <p clas="secondary-text">(Click on each service for a description)</p>

    <hr class="divider">
      <div class="band-container">
        <%= image_tag("idea.png")%>
        <%= image_tag("business_plan.png") %>
        <%= image_tag("product_design.png") %>
        <%= image_tag("prototype.png") %>
        <%= image_tag("growth.png") %>
        </div>
    <hr class="divider">
    <br>

    <div class="content">
      <div class="idea-content">
        <h1 class="second-subtitle"> Shapping my idea</h1>
        <div class="service-container">
        <%= image_tag("idea.png") %>
        <%= image_tag("business_plan.png") %>
        <%= image_tag("product_design.png") %>
        </div>
        <p class="main-text"> We use design thinking techniques and input from the market and competitors, as well as input from users to help you define your idea more clearly, develop a product or service proposition that better meets the unfulfilled need and produce a "ligh business plan" to perform an initial go/no go decision.</p>
        <br>
      </div>

      <div class="busplan-content">
        <h1 class="second-subtitle"> Shapping my idea</h1>
        <div class="service-container">
        <%= image_tag("idea.png") %>
        <%= image_tag("business_plan.png") %>
        <%= image_tag("product_design.png") %>
        </div>
        <p class="main-text"> We use design thinking techniques and input from the market and competitors, as well as input from users to help you define your idea more clearly, develop a product or service proposition that better meets the unfulfilled need and produce a "ligh business plan" to perform an initial go/no go decision.</p>
        <br>
      </div>

      <div class="proddesign-content">
        <h1 class="second-subtitle"> Shapping my idea</h1>
        <div class="service-container">
        <%= image_tag("idea.png") %>
        <%= image_tag("business_plan.png") %>
        <%= image_tag("product_design.png") %>
        </div>
        <p class="main-text"> We use design thinking techniques and input from the market and competitors, as well as input from users to help you define your idea more clearly, develop a product or service proposition that better meets the unfulfilled need and produce a "ligh business plan" to perform an initial go/no go decision.</p>
        <br>
      </div>

      <div class="prototype-content">
        <h1 class="second-subtitle"> Shapping my idea</h1>
        <div class="service-container">
        <%= image_tag("idea.png") %>
        <%= image_tag("business_plan.png") %>
        <%= image_tag("product_design.png") %>
        </div>
        <p class="main-text"> We use design thinking techniques and input from the market and competitors, as well as input from users to help you define your idea more clearly, develop a product or service proposition that better meets the unfulfilled need and produce a "ligh business plan" to perform an initial go/no go decision.</p>
        <br>
      </div>

      <div class="growth-content">
        <h1 class="second-subtitle"> Shapping my idea</h1>
        <div class="service-container">
        <%= image_tag("idea.png") %>
        <%= image_tag("business_plan.png") %>
        <%= image_tag("product_design.png") %>
        </div>
        <p class="main-text"> We use design thinking techniques and input from the market and competitors, as well as input from users to help you define your idea more clearly, develop a product or service proposition that better meets the unfulfilled need and produce a "ligh business plan" to perform an initial go/no go decision.</p>
        <br>
      </div>


  </div>

</div>

<%= render "contacts/new" %>



